.header
	.list-feedback
		font-size 18px
		.item 
			display inline-block
			padding-right 50px
			
@media tablet
	.header
		.list-feedback
			.item 
				display block
				
@media phone
	.header
		.list-feedback
			.item 
				display inline-block
			
.footer
	.list-feedback
		&_footer
			.item
				margin-bottom 20px
				display table
				color #fff
				&__text_address
					line-height 1.5
				&__icon
					margin-right 10px
					display inline-block
				&__text-box
					display table-cell
				&__name
					display inline-block

