@font-face
	font-family FuturaNewBookReg
	src url(../font/FuturaNew/FuturaNewBookReg.otf)
	
@font-face
	font-family FuturaNewBoldReg
	src url(../font/FuturaNew/FuturaNewBoldReg.otf)
	
@font-face
	font-family FuturaNewDemiReg
	src url(../font/FuturaNew/FuturaNewDemiReg.otf)


body
	font-size fontSizeBase
	font-family FuturaNewBookReg

a
	color #fff
	text-decoration none

.container
	max-width 1300px
	margin 0 auto
	padding 0 75px
	box-sizing: border-box
	
@media tablet
	.container
		padding 0 25px