.header
	.title-page
		&_header
			display inline-block
			font-size 12px
			width 130px
		&__item
			display inline-block
		&__item_0
		&__item_3
			color #9f9f9f
			padding-bottom 5px
		&__item_1
		&__item_2
			color #fff
			font-family FuturaNewDemiReg
		&__item_0
		&__item_2
			padding-right 5px

.calculator
	.title-page
		&_calculator
			.title-page
				&__item
					display block
				&__text
					background #000
					color #fff
					display inline-block
					text-transform uppercase
				&__text_0
				&__text_2
					font-size 24px
				&__text_1
					font-size 40px
					font-family FuturaNewBoldReg
				&__text_0
					padding 15px 20px 5px 15px
				&__text_1
					padding 0 20px 0 15px
				&__text_2
					padding 10px 25px 15px 15px
			

.our-works
	.title-page
		&_our-works
			.title-page
				&__item
					display block
				&__text
					background #fff
					color #000
					display inline-block
					text-transform uppercase
				&__text_0
					font-size 24px
					padding 15px 20px 10px 15px
				&__text_1
					font-size 40px
					font-family FuturaNewBoldReg
					padding 15px 20px 5px 15px
					

.advantages
	.title-page
		&_advantages
			margin-bottom 40px
			.title-page
				&__item
					display block
				&__text
					background #000
					color #fff
					text-transform uppercase
					display inline-block
				&__text_0
				&__text_2
					font-size 24px
				&__text_1
					font-size 40px
					font-family FuturaNewBoldReg
				&__text_0
					padding 15px 20px 5px 15px
				&__text_1
					padding 0 20px 0 15px
				&__text_2
					padding 10px 25px 15px 15px
					

.timing
	.title-page
		&_timing
			margin-bottom 30px
			.title-page
				&__item
					display block
				&__text
					background #fff
					color #000
					display inline-block
					text-transform uppercase
				&__text_0
				&__text_2
				&__text_3
					font-size 24px
				&__text_1
					font-size 40px
					font-family FuturaNewBoldReg
				&__text_0
					padding 5px 20px 15px 10px
				&__text_1
					padding 10px 20px 15px 15px
				&__text_2
					padding 5px 25px 15px 15px
				&__text_3
					padding 5px 25px 10px 15px
					
.guarantees
	.title-page
		&_guarantees
			margin-right 100px
			.title-page
				&__item
					display block
				&__text
					background #000
					color #fff
					display inline-block
					text-transform uppercase
					padding 5px 15px 10px 10px
				&__text_0
				&__text_1
				&__text_4
				&__text_5
					font-size 40px
					font-family FuturaNewBoldReg
				&__text_2
				&__text_3
					font-size 24px
				&__text_3
					padding 5px 15px 10px 10px
				&__text_4
					padding 5px 20px 0 10px
				&__text_5
					padding 5px 15px 10px 10px
					
@media phone
	.our-works
		.title-page
			&_guarantees
				width 100%
				margin-bottom 30px
				
	.guarantees
		.title-page
			&_guarantees
				margin-right 0
				margin-bottom 30px