mixin b-our-works()
	+b.our-works#our-works
		.container
			+b-title-page(our_works.title, 'our-works')
			+b-stack-word(our_works.note, 'note')
			+b-simple-element('plus')
		+b-list-tile(our_works.list_recent_works, 'our-works')