.calculator
	.form-input
		&_feedback
			display flex
			flex-wrap wrap
			flex-direction row
			justify-content space-between
			align-items flex-end
			margin-bottom 70px
			.button
				padding 17px 25px
				box-sizing: border-box
			.item
				&__label
					font-family FuturaNewDemiReg
					text-transform uppercase
					padding-bottom 10px
				&__input
					width 265px
					height 50px
					padding 20px
					box-sizing border-box
					background #232323
					color #fff
					border 0px
					

@media (max-width 1180px)
	.calculator
		.form-input
			&_feedback
				justify-content center
				.button
					width 265px
					margin 10px
				.item
					margin 10px