mixin b-header()
	+b.HEADER.header#home
		+e.front
			.container
				+e.top
					+e.left
						+b-logo('img/logo.png', 'logo')
						+b-title-page(header.title, 'header')
					+e.right
						+b-list-feedback(header.feedback, 'header')
						.box-nav
							+b-nav(header.nav, 'header')
				+e.advantages
					+b-stack-word(header.advantages_1, 'advantages-1')
					+b-stack-word(header.advantages_2, 'advantages-2')
					+e.box_advantages-3
						+b-simple-element('plus')
						+b-stack-word(header.advantages_3, 'advantages-3')
				+e.offer
					+b-stack-word(header.text_offer, 'offer')
					+b-button(header.btn_offer, 'offer')