.header
	height 805px
	background url('../img/bg_gray.png')
	&__front
		background url('../img/bg_header_front.png') 0 0 no-repeat
		height 805px
		width 1300px
		margin 0 auto
	&__top
		padding-top 45px
		display flex
		flex-direction row
		justify-content space-between
		align-items flex-end
		margin-bottom 80px
	&__advantages
		display flex
		flex-direction column
		justify-content flex-start
		align-items flex-end
		text-align right
		position relative
	&__advantages-box
		position absolute
		z-index -5
	&__box_advantages-3
		display flex
		flex-direction row
		justify-content flex-end
		align-items flex-end
		margin-bottom 110px
	&__offer
		display flex
		flex-direction row
		justify-content flex-end
		align-items flex-end
		