.simple-element
	&_plus
		height 50px
		width 50px
		position relative
		display inline-block
		&::before
			content ""
			width 100%
			display inline-block
			border-bottom 1px solid #fff
			position absolute
			top 50%
			left 0
		&::after
			content ""
			height 100%
			display inline-block
			border-right 1px solid #fff
			position absolute
			left 50%
			top 0
			
.header
	.simple-element
		&_plus
			margin-right 120px
			
.guarantees
.calculator
	.simple-element
		&_plus
			height 40px
			width 40px
			&::before
			&::after
				border-color #000