.header
	.stack-word
		&_advantages-1
			margin-bottom 60px
			.stack-word
				&__text
					font-family FuturaNewBoldReg
					background #fff
					display inline-block
					text-transform uppercase
				&__text_0
				&__text_2
					font-size 24px
				&__text_1
				&__text_3
					font-size 40px
				&__text_0
					padding 15px 20px 0 20px
				&__text_1
					padding 5px 25px 10px 20px
				&__text_2
					padding 0 25px 15px 20px
				&__text_3
					padding 0 20px 5px 10px
					
		&_advantages-2
			margin-bottom 20px
			.stack-word
				&__text
					background #fff
					display inline-block
					text-transform uppercase
					font-size 13px
				&__text_0
					padding 10px 15px 0 15px
				&__text_1
					font-family FuturaNewDemiReg
					padding 5px 15px 10px 20px
					
		&_advantages-3
			.stack-word
				&__text
					background #fff
					display inline-block
					text-transform uppercase
					font-size 13px
				&__text_0
					padding 10px 15px 5px 15px
				&__text_1
					padding 0 15px 5px 15px
				&__text_2
					padding 5px 14px 5px 15px
				&__text_3
					padding 0px 14px 5px 15px
				&__text_1
				&__text_3
					font-family FuturaNewDemiReg
					
		&_offer
			margin-right 90px
			.stack-word
				&__text
					color #fff
					font-size 12px


.calculator
	.stack-word
		&_title-option
			.stack-word
				&__item
					display inline-block
					font-family FuturaNewDemiReg
					text-transform uppercase
				&__text_0
				&__text_1
					font-size 60px
				&__text_1
					color #8c8c8c
					padding-right 15px
				&__text_2
					font-size 24px
					
		&_offer
			.stack-word
				&__text
					font-size 13px
					text-transform uppercase
					padding-bottom 5px
				&__text_0	
				&__text_2
				&__text_3
					font-family FuturaNewDemiReg
				
					
.our-works
	.stack-word
		&_note
			.stack-word
				&__text
					color #fff
					font-size 13px
					text-transform uppercase
					padding-bottom 5px
				&__text_1
				&__text_2
					font-family FuturaNewDemiReg
					
.advantages
	.stack-word
		&_note
			margin-bottom 75px
			.stack-word
				&__text
					font-size 13px
					text-transform uppercase
					padding-bottom 5px
				&__text_0	
				&__text_1
				&__text_4
				&__text_5
					font-family FuturaNewDemiReg
					
.timing
	.stack-word			
		&_note
			margin-bottom 25px
			.stack-word
				&__text
					font-size 13px
					text-transform uppercase
					padding-bottom 5px
					color #fff
				&__text_1
				&__text_2
				&__text_3
					font-family FuturaNewDemiReg
					
.guarantees
	.stack-word
		&_note
			margin-bottom 100px
			.stack-word
				&__text
					font-size 13px
					text-transform uppercase
					padding-bottom 5px
				&__text_1
				&__text_3
					font-family FuturaNewDemiReg
					

.footer
	.stack-word
		&_title
			.stack-word
				&__text
					background #fff
					color #000
					display inline-block
					text-transform uppercase
				&__text_0
					font-size 40px
					font-family FuturaNewBoldReg
				&__text_1
					font-size 24px
				&__text_0
					padding 10px 20px 15px 10px
				&__text_1
					padding 5px 20px 10px 15px
					
@media phone
	.header
		.stack-word
			&_advantages-1
				margin-bottom 30px
			&_offer
				margin-right 30px
				
	.our-works
		.stack-word
			&_note
				width 50%


	.guarantees
		.stack-word
			&_note
				margin-bottom 30px