.timing
	background url('../img/bg_gray.png')
	.container
		display flex
		flex-wrap wrap
		flex-direction row
		justify-content space-between
		align-items flex-start
		padding-top 70px
		padding-bottom 70px
		
@media tablet
	.timing
		.container
			display flex
			flex-wrap wrap
			flex-direction column
			justify-content center
			align-items center