.button
	padding 25px 35px
	background colorCorp
	display inline-block
	font-family FuturaNewDemiReg
	color #fff
	cursor pointer
	text-transform uppercase
	border 0
.button:focus
	outline none
	
@media tablet
	.timing
		.button
			margin-bottom 30px

@media phone
	.button
		padding 15px 10px
		font-size 11px