.header
	.stack-double-word
		&_title
			display inline-block
			font-size 12px
		&__item
			display inline-block
		&__item_0
		&__item_3
			color #9f9f9f
			padding-bottom 5px
		&__item_1
		&__item_2
			color #fff
			font-family FuturaNewDemiReg
		&__item_0
		&__item_2
			padding-right 5px