.calculator
	background url('../img/bg_white.png')
	&__box
		display inline-block
.calculator
	&__row-1
		display flex
		flex-wrap wrap
		flex-direction row
		justify-content flex-start
		align-items flex-start
		padding-top 75px
		margin-bottom 70px
	&__row-2
		display flex
		flex-wrap wrap
		flex-direction row
		justify-content flex-start
		align-items flex-start
		margin-bottom 20px
	&__row-3
		display flex
		flex-wrap wrap
		flex-direction row
		justify-content flex-start
		align-items flex-start
		margin-bottom 50px
	&__row-4
		display flex
		flex-wrap wrap
		flex-direction row
		justify-content flex-start
		align-items flex-start
		margin-bottom 40px

	&__row-1
		.calculator__col-1
			width 34%
		.calculator__col-2
			width 26%
		.calculator__col-3
			width 40%
	&__row-2
		.calculator__col-1
			width 34%
		.calculator__col-2
			width 30%
		.calculator__col-3
			width 36%
	&__row-4
		.calculator__col-1
			width 34%
		.calculator__col-2
			width 50%
		.calculator__col-3
			width 16%

	&__row-2
	&__row-4
		.calculator__col-3
			text-align right
			
@media tablet
	.calculator
		&__row-1, &__row-2, &__row-4
			.calculator__col-1
				width 100%
				margin-bottom 30px
				text-align center
			.calculator__col-2
				width 40%
			.calculator__col-3
				width 60%
				
			
@media phone
	.calculator
		&__row-1, &__row-2, &__row-4
			.calculator__col-1, .calculator__col-2, .calculator__col-3
				width 100%
				margin-bottom 30px