include stack-word/stack-word
include stack-double-word/stack-double-word
include logo/logo
include button/button
include list-options/list-options
include list-options-icon-out/list-options-icon-out
include form-input/form-input
include list-tile/list-tile
include table-timing/table-timing
include list-feedback/list-feedback
include simple-element/simple-element
include map/map
include header/header
include calculator/calculator
include our-works/our-works
include advantages/advantages
include timing/timing
include guarantees/guarantees
include footer/footer
include nav/nav
include title-page/title-page