.table-timing
	&_timing
		width 795px
		font-size 13px
		.cell
			border 1px solid #fff
			color #fff
			&_0
				width 195px
				padding 15px
				box-sizing border-box
		.row
			&_0
				.cell
					padding 20px 5px
					text-align center
					&__string_1
						padding-bottom 10px
			&_1
				.cell
					&_1
						background #dcf5f7
			&_2
				.cell
					&_2
					&_3
					&_4
					&_9
					&_11
						background #a3d9f5
						border-right 1px solid #a3d9f5
			&_3
				.cell
					&_5
					&_6
					&_7
					&_10
					&_12
						background #6fb0ed
						border-right 1px solid #6fb0ed
			&_4
				.cell
					&_8
					&_9
						background #3270b4
						border-right 1px solid #3270b4
			&_5
				.cell
					&_12
					&_13
					&_14
					&_15
						background #193f6e
						border-right 1px solid #193f6e
						
@media tablet
	.table-timing
		&_timing
			width 100%
			font-size 12px
			.cell
				&_0
					padding 15px
					box-sizing border-box
						
@media phone
	.table-timing
		&_timing
			display none
						

