include  ../../node_modules/bemto.pug/bemto
include  ../block/index

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes")
		title React
	body
		block main

		link(rel="stylesheet" href="css/mondaystydio.css")
		link(rel="stylesheet" href="modules/sprite/sprite.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/mondaystydio.js")
			